<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>controler.addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>controler.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectUsers</servlet-name>
        <servlet-class>controler.SelectUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userDataServlet</servlet-name>
        <servlet-class>controler.userDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCourses</servlet-name>
        <servlet-class>controler.CreateCourses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCourses</servlet-name>
        <servlet-class>controler.deleteCourses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>controler.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicantRegister</servlet-name>
        <servlet-class>controler.ApplicantRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>controler.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessApplicantData</servlet-name>
        <servlet-class>controler.ProcessApplicantData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectSchools</servlet-name>
        <servlet-class>controler.SelectSchools</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Select_Course_Fees</servlet-name>
        <servlet-class>controler.Select_Course_Fees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSchools</servlet-name>
        <servlet-class>controler.AddSchools</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDepartment</servlet-name>
        <servlet-class>controler.AddDepartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCampus</servlet-name>
        <servlet-class>controler.AddCampus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseFees</servlet-name>
        <servlet-class>controler.AddCourseFees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectUserByUsername</servlet-name>
        <servlet-class>controler.SelectUserByUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectApplicantAccount</servlet-name>
        <servlet-class>controler.SelectApplicantAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUserNameExist</servlet-name>
        <servlet-class>controler.CheckUserNameExist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>controler.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseUnit</servlet-name>
        <servlet-class>controler.AddCourseUnit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controler.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Select_Bachelor_Courses</servlet-name>
        <servlet-class>controler.Select_Bachelor_Courses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Select_Diploma_Courses</servlet-name>
        <servlet-class>controler.Select_Diploma_Courses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Select_All_Courses</servlet-name>
        <servlet-class>controler.Select_All_Courses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Process_Course</servlet-name>
        <servlet-class>controler.Process_Course</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateApplicant</servlet-name>
        <servlet-class>controler.UpdateApplicant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmissionForm</servlet-name>
        <servlet-class>controler.AdmissionForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessIntake</servlet-name>
        <servlet-class>controler.ProcessIntake</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseApplied</servlet-name>
        <servlet-class>controler.CourseApplied</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>controler.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicantLogout</servlet-name>
        <servlet-class>controler.ApplicantLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Select_Masters_Courses</servlet-name>
        <servlet-class>controler.Select_Masters_Courses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Select_PhD_Courses</servlet-name>
        <servlet-class>controler.Select_PhD_Courses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxSelectIntake</servlet-name>
        <servlet-class>controler.AjaxSelectIntake</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourses</servlet-name>
        <servlet-class>controler.UpdateCourses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxSelectApplicants</servlet-name>
        <servlet-class>controler.AjaxSelectApplicants</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectUsers</servlet-name>
        <url-pattern>/SelectUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userDataServlet</servlet-name>
        <url-pattern>/userDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCourses</servlet-name>
        <url-pattern>/CreateCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCourses</servlet-name>
        <url-pattern>/deleteCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicantRegister</servlet-name>
        <url-pattern>/ApplicantRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessApplicantData</servlet-name>
        <url-pattern>/ProcessApplicantData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectSchools</servlet-name>
        <url-pattern>/SelectSchools</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Select_Course_Fees</servlet-name>
        <url-pattern>/Select_Course_Fees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSchools</servlet-name>
        <url-pattern>/AddSchools</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDepartment</servlet-name>
        <url-pattern>/AddDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCampus</servlet-name>
        <url-pattern>/AddCampus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseFees</servlet-name>
        <url-pattern>/AddCourseFees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectUserByUsername</servlet-name>
        <url-pattern>/SelectUserByUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectApplicantAccount</servlet-name>
        <url-pattern>/SelectApplicantAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUserNameExist</servlet-name>
        <url-pattern>/CheckUserNameExist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseUnit</servlet-name>
        <url-pattern>/AddCourseUnit</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            Admin_Login.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Select_Bachelor_Courses</servlet-name>
        <url-pattern>/Select_Bachelor_Courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Select_Diploma_Courses</servlet-name>
        <url-pattern>/Select_Diploma_Courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Select_All_Courses</servlet-name>
        <url-pattern>/Select_All_Courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Process_Course</servlet-name>
        <url-pattern>/Process_Course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateApplicant</servlet-name>
        <url-pattern>/UpdateApplicant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmissionForm</servlet-name>
        <url-pattern>/AdmissionForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessIntake</servlet-name>
        <url-pattern>/ProcessIntake</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseApplied</servlet-name>
        <url-pattern>/CourseApplied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicantLogout</servlet-name>
        <url-pattern>/ApplicantLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Select_Masters_Courses</servlet-name>
        <url-pattern>/Select_Masters_Courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Select_PhD_Courses</servlet-name>
        <url-pattern>/Select_PhD_Courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxSelectIntake</servlet-name>
        <url-pattern>/AjaxSelectIntake</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourses</servlet-name>
        <url-pattern>/UpdateCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxSelectApplicants</servlet-name>
        <url-pattern>/AjaxSelectApplicants</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
